<div class="drawer-contents">
	<div class="drawer-heading row">
		<div class="col-sm-9">
			<h2 class="m-t-0">Favorites</h2>
		</div>
		<div class="col-sm-3">
			<a href="#quick-links-drawer" data-toggle="drawer" aria-foldedopen="false" aria-controls="quick-links-drawer" class="btn btn-primary pull-right">Close</a>
		</div>
	</div>
	<div class="drawer-body row">
		<div class="col-sm-12">
			<form method="post" accept-charset="utf-8">
				<div class="form-group">
					<label for="icon_id">Icon Image</label>
					<select class="form-control" id="icon_id" name="icon_id">
      			<option value="1">Add To List</option>
            <option value="2">Add User</option>
            <option value="3">Address</option>
            <option value="4">Adjust</option>
            <option value="5">Air</option>
            <option value="6">Aircraft Landing</option>
            <option value="7">Aircraft Take Off</option>
            <option value="8">Aircraft</option>
            <option value="9">Align Bottom</option>
            <option value="10">Align Horizontal Middle</option>
            <option value="11">Align Left</option>
            <option value="12">Align Right</option>
            <option value="13">Align Top</option>
            <option value="14">Align Vertical Middle</option>
            <option value="15">Archive</option>
            <option value="16">Area Graph</option>
            <option value="17">Arrow Bold Down</option>
            <option value="18">Arrow Bold Left</option>
            <option value="19">Arrow Bold Right</option>
            <option value="20">Arrow Bold Up</option>
            <option value="21">Arrow Down</option>
            <option value="22">Arrow Left</option>
            <option value="23">Arrow Long Down</option>
            <option value="24">Arrow Long Left</option>
            <option value="25">Arrow Long Right</option>
            <option value="26">Arrow Long Up</option>
            <option value="27">Arrow Right</option>
            <option value="28">Arrow Up</option>
            <option value="29">Arrow With Circle Down</option>
            <option value="30">Arrow With Circle Left</option>
            <option value="31">Arrow With Circle Right</option>
            <option value="32">Arrow With Circle Up</option>
            <option value="33">Attachment</option>
            <option value="34">Awareness Ribbon</option>
            <option value="35">Back In Time</option>
            <option value="36">Back</option>
            <option value="37">Bar Graph</option>
            <option value="38">Battery</option>
            <option value="39">Beamed Note</option>
            <option value="40">Bell</option>
            <option value="41">Blackboard</option>
            <option value="42">Block</option>
            <option value="43">Book</option>
            <option value="44">Bookmark</option>
            <option value="45">Bookmarks</option>
            <option value="46">Bowl</option>
            <option value="47">Box</option>
            <option value="48">Briefcase</option>
            <option value="49">Browser</option>
            <option value="50">Brush</option>
            <option value="51">Bucket</option>
            <option value="52">Bug</option>
            <option value="53">Cake</option>
            <option value="54">Calculator</option>
            <option value="55">Calendar</option>
            <option value="56">Camera</option>
            <option value="57">Ccw</option>
            <option value="58">Chat</option>
            <option value="59">Check</option>
            <option value="60">Chevron Down</option>
            <option value="61">Chevron Left</option>
            <option value="62">Chevron Right</option>
            <option value="63">Chevron Small Down</option>
            <option value="64">Chevron Small Left</option>
            <option value="65">Chevron Small Right</option>
            <option value="66">Chevron Small Up</option>
            <option value="67">Chevron Thin Down</option>
            <option value="68">Chevron Thin Left</option>
            <option value="69">Chevron Thin Right</option>
            <option value="70">Chevron Thin Up</option>
            <option value="71">Chevron Up</option>
            <option value="72">Chevron With Circle Down</option>
            <option value="73">Chevron With Circle Left</option>
            <option value="74">Chevron With Circle Right</option>
            <option value="75">Chevron With Circle Up</option>
            <option value="76">Circle With Cross</option>
            <option value="77">Circle With Minus</option>
            <option value="78">Circle With Plus</option>
            <option value="79">Circle</option>
            <option value="80">Circular Graph</option>
            <option value="81">Clapperboard</option>
            <option value="82">Classic Computer</option>
            <option value="83">Clipboard</option>
            <option value="84">Clock</option>
            <option value="85">Cloud</option>
            <option value="86">Code</option>
            <option value="87">Cog</option>
            <option value="88">Colours</option>
            <option value="89">Compass</option>
            <option value="90">Controller Fast Backward</option>
            <option value="91">Controller Fast Forward</option>
            <option value="92">Controller Jump To Start</option>
            <option value="93">Controller Next</option>
            <option value="94">Controller Paus</option>
            <option value="95">Controller Play</option>
            <option value="96">Controller Record</option>
            <option value="97">Controller Stop</option>
            <option value="98">Controller Volume</option>
            <option value="99">Copy</option>
            <option value="100">Creative Commons Attribution</option>
            <option value="101">Creative Commons Noderivs</option>
            <option value="102">Creative Commons Noncommercial Eu</option>
            <option value="103">Creative Commons Noncommercial Us</option>
            <option value="104">Creative Commons Public Domain</option>
            <option value="105">Creative Commons Remix</option>
            <option value="106">Creative Commons Share</option>
            <option value="107">Creative Commons Sharealike</option>
            <option value="108">Creative Commons</option>
            <option value="109">Credit Card</option>
            <option value="110">Credit</option>
            <option value="111">Crop</option>
            <option value="112">Cross</option>
            <option value="113">Cup</option>
            <option value="114">Cw</option>
            <option value="115">Cycle</option>
            <option value="116">Database</option>
            <option value="117">Dial Pad</option>
            <option value="118">Direction</option>
            <option value="119">Document Landscape</option>
            <option value="120">Document</option>
            <option value="121">Documents</option>
            <option value="122">Dot Single</option>
            <option value="123">Dots Three Horizontal</option>
            <option value="124">Dots Three Vertical</option>
            <option value="125">Dots Two Horizontal</option>
            <option value="126">Dots Two Vertical</option>
            <option value="127">Download</option>
            <option value="128">Drink</option>
            <option value="129">Drive</option>
            <option value="130">Drop</option>
            <option value="131">Edit</option>
            <option value="132">Email</option>
            <option value="133">Emoji Flirt</option>
            <option value="134">Emoji Happy</option>
            <option value="135">Emoji Neutral</option>
            <option value="136">Emoji Sad</option>
            <option value="137">Erase</option>
            <option value="138">Eraser</option>
            <option value="139">Export</option>
            <option value="140">Eye With Line</option>
            <option value="141">Eye</option>
            <option value="142">Feather</option>
            <option value="143">Fingerprint</option>
            <option value="144">Flag</option>
            <option value="145">Flash</option>
            <option value="146">Flashlight</option>
            <option value="147">Flat Brush</option>
            <option value="148">Flow Branch</option>
            <option value="149">Flow Cascade</option>
            <option value="150">Flow Line</option>
            <option value="151">Flow Parallel</option>
            <option value="152">Flow Tree</option>
            <option value="153">Flower</option>
            <option value="154">Folder Images</option>
            <option value="155">Folder Music</option>
            <option value="156">Folder Video</option>
            <option value="157">Folder</option>
            <option value="158">Forward</option>
            <option value="159">Funnel</option>
            <option value="160">Game Controller</option>
            <option value="161">Gauge</option>
            <option value="162">Globe</option>
            <option value="163">Graduation Cap</option>
            <option value="164">Grid</option>
            <option value="165">Hair Cross</option>
            <option value="166">Hand</option>
            <option value="167">Heart Outlined</option>
            <option value="168">Heart</option>
            <option value="169">Help With Circle</option>
            <option value="170">Help</option>
            <option value="171">Home</option>
            <option value="172">Hour Glass</option>
            <option value="173">Image Inverted</option>
            <option value="174">Image</option>
            <option value="175">Images</option>
            <option value="176">Inbox</option>
            <option value="177">Infinity</option>
            <option value="178">Info With Circle</option>
            <option value="179">Info</option>
            <option value="180">Install</option>
            <option value="181">Key</option>
            <option value="182">Keyboard</option>
            <option value="183">Lab Flask</option>
            <option value="184">Landline</option>
            <option value="185">Language</option>
            <option value="186">Laptop</option>
            <option value="187">Layers</option>
            <option value="188">Leaf</option>
            <option value="189">Level Down</option>
            <option value="190">Level Up</option>
            <option value="191">Lifebuoy</option>
            <option value="192">Light Bulb</option>
            <option value="193">Light Down</option>
            <option value="194">Light Up</option>
            <option value="195">Line Graph</option>
            <option value="196">Link</option>
            <option value="197">List</option>
            <option value="198">Location Pin</option>
            <option value="199">Location</option>
            <option value="200">Lock Open</option>
            <option value="201">Lock</option>
            <option value="202">Log Out</option>
            <option value="203">Login</option>
            <option value="204">Loop</option>
            <option value="205">Magnet</option>
            <option value="206">Magnifying Glass</option>
            <option value="207">Mail</option>
            <option value="208">Man</option>
            <option value="209">Map</option>
            <option value="210">Mask</option>
            <option value="211">Medal</option>
            <option value="212">Megaphone</option>
            <option value="213">Menu</option>
            <option value="214">Merge</option>
            <option value="215">Message</option>
            <option value="216">Mic</option>
            <option value="217">Minus</option>
            <option value="218">Mobile</option>
            <option value="219">Modern Mic</option>
            <option value="220">Moon</option>
            <option value="221">Mouse Pointer</option>
            <option value="222">Mouse</option>
            <option value="223">Music</option>
            <option value="224">Network</option>
            <option value="225">New Message</option>
            <option value="226">New</option>
            <option value="227">News</option>
            <option value="228">Newsletter</option>
            <option value="229">Note</option>
            <option value="230">Notification</option>
            <option value="231">Notifications Off</option>
            <option value="232">Old Mobile</option>
            <option value="233">Old Phone</option>
            <option value="234">Open Book</option>
            <option value="235">Palette</option>
            <option value="236">Paper Plane</option>
            <option value="237">Pencil</option>
            <option value="238">Phone</option>
            <option value="239">Pie Chart</option>
            <option value="240">Pin</option>
            <option value="241">Plus</option>
            <option value="242">Popup</option>
            <option value="243">Power Plug</option>
            <option value="244">Price Ribbon</option>
            <option value="245">Price Tag</option>
            <option value="246">Print</option>
            <option value="247">Progress Empty</option>
            <option value="248">Progress Full</option>
            <option value="249">Progress One</option>
            <option value="250">Progress Two</option>
            <option value="251">Publish</option>
            <option value="252">Quote</option>
            <option value="253">Radio</option>
            <option value="254">Remove User</option>
            <option value="255">Reply All</option>
            <option value="256">Reply</option>
            <option value="257">Resize 100%</option>
            <option value="258">Resize Full Screen</option>
            <option value="259">Retweet</option>
            <option value="260">Rocket</option>
            <option value="261">Round Brush</option>
            <option value="262">Rss</option>
            <option value="263">Ruler</option>
            <option value="264">Save</option>
            <option value="265">Scissors</option>
            <option value="266">Select Arrows</option>
            <option value="267">Share Alternative</option>
            <option value="268">Share</option>
            <option value="269">Shareable</option>
            <option value="270">Shield</option>
            <option value="271">Shipment Status.Html</option>
            <option value="272">Shop</option>
            <option value="273">Shopping Bag</option>
            <option value="274">Shopping Basket</option>
            <option value="275">Shopping Cart</option>
            <option value="276">Shuffle</option>
            <option value="277">Signal</option>
            <option value="278">Sound Mix</option>
            <option value="279">Sound Mute</option>
            <option value="280">Sound</option>
            <option value="281">Sports Club</option>
            <option value="282">Spreadsheet</option>
            <option value="283">Squared Cross</option>
            <option value="284">Squared Minus</option>
            <option value="285">Squared Plus</option>
            <option value="286">Star Outlined</option>
            <option value="287">Star</option>
            <option value="288">Stopwatch</option>
            <option value="289">Suitcase</option>
            <option value="290">Swap</option>
            <option value="291">Sweden</option>
            <option value="292">Switch</option>
            <option value="293">Tablet Mobile Combo</option>
            <option value="294">Tablet</option>
            <option value="295">Tag</option>
            <option value="296">Text Document Inverted</option>
            <option value="297">Text Document</option>
            <option value="298">Text</option>
            <option value="299">Thermometer</option>
            <option value="300">Thumbs Down</option>
            <option value="301">Thumbs Up</option>
            <option value="302">Thunder Cloud</option>
            <option value="303">Ticket</option>
            <option value="304">Time Slot</option>
            <option value="305">Tools</option>
            <option value="306">Traffic Cone</option>
            <option value="307">Trash</option>
            <option value="308">Tree</option>
            <option value="309">Triangle Down</option>
            <option value="310">Triangle Left</option>
            <option value="311">Triangle Right</option>
            <option value="312">Triangle Up</option>
            <option value="313">Trophy</option>
            <option value="314">Tv</option>
            <option value="315">Typing</option>
            <option value="316">Uninstall</option>
            <option value="317">Unread</option>
            <option value="318">Untag</option>
            <option value="319">Upload To Cloud</option>
            <option value="320">Upload</option>
            <option value="321">User</option>
            <option value="322">Users</option>
            <option value="323">V Card</option>
            <option value="324">Video Camera</option>
            <option value="325">Video</option>
            <option value="326">Vinyl</option>
            <option value="327">Voicemail</option>
            <option value="328">Wallet</option>
            <option value="329">Warning</option>
            <option value="330">Water</option>
          </select>
				</div>
				<div class="form-group">
					<label for="position">Position</label>
					<input type="number" min="1" max="9" name="position" id="position" class="form-control">
				</div>
				<div class="form-group">
					<label>Current Favorites</label>
					<table class="table table-bordered table-condensed small">
						<tbody>
							<tr>
								<th>Position</th>
								<th>Name</th>
							</tr>
							<tr>
								<td colspan="2" class="text-center">No favorites</td>
							</tr>
						</tbody>
					</table>
				</div>
				<button type="submit" name="add_favorite" id="add_favorite" value="2" class="btn btn-info">Add Favorite</button>
			</form>
		</div>
	</div>
</div>
